extends layout

block content
  h1= title
  p Welcome to #{title}

  p Full Name:
  input#fullname(type="text")
  
  br

  p Username:
  input#username(type="text")
  
  br
  br

  button#loginbutton(type="button") Login
  button#checkinbutton(type="button", value="CHECKIN") Check in!


  div#users
    ul#userslist



block scripts
  script.
    $(document).ready(function(){
      //var socket = io.connect('http://localhost:8080');
      var socket = io.connect();
      
      $('#checkinbutton').css('display', 'none');

      // reload saved data from localstorage
      $('#fullname').val(localStorage['checkin.fullname']);
      $('#username').val(localStorage['checkin.username']);

      // load all current users
      socket.on('users-status', function(userstatus){
        console.log(userstatus);
        for(var i=0; i < userstatus.length; i++){
          var userinfo = userstatus[i];
          var entry = document.createElement('li');
          entry.innerHTML = userinfo.username;
          entry.setAttribute('id', userinfo.userid);
          if(userinfo.checkedin)
            $(entry).append('<img src="/images/check-mark-md.png" width="25px" height="25px">');
          $('#userslist').append(entry);
        }
      });

      // login
      var loginbutton = $('#loginbutton');
      loginbutton.on('click', function(event){
        var fullname = $('#fullname').val();
        var username = $('#username').val();
      
        if(fullname == '' || username == '') alert('Please fill out all fields.');
        else{
          localStorage['checkin.fullname'] = fullname;
          localStorage['checkin.username'] = username;

          console.log('logging in');

          loginbutton.value = 'Check out!';

          socket.emit('login', username);

          $('#checkinbutton').css('display', 'block');
        }
      });

      // check in
      $('#checkinbutton').on('click', function(event){
        event.preventDefault();

        if($('#checkinbutton').attr('value') == 'CHECKIN'){
          var fullname = $('#fullname').val();
          var username = $('#username').val();

          if(fullname == '' || username == ''){
            alert('Please fill out all fields.');
          }
          else{
            socket.emit('checkin', username);
            $('#checkinbutton').val('CHECKOUT');
            $('#checkinbutton').html('Check out!');
          }
        }
        else{ // CHECKOUT
          var username = localStorage['checkin.username'];
          socket.emit('checkout', username);

          $('#checkinbutton').val('CHECKIN');
          $('#checkinbutton').html('Check in!');
        }
      });

      // other user checked in
      socket.on('usercheckedin', function(userid){
        $('#' + userid).append('<img src="/images/check-mark-md.png" width="25px" height="25px">');
      });

      // other user checked out
      socket.on('usercheckedout', function(userid){
        $('#' + userid + ' img').remove();
      });

      // other user logged in
      socket.on('userloggedin', function(userinfo){
        var entry = document.createElement('li');
        entry.innerHTML = userinfo.username;
        entry.setAttribute('id', userinfo.userid);
        $('#userslist').append(entry);
      });

      //user disconnected
      socket.on('user-disconnected', function(userid){
        $('#' + userid).remove();
      });

      //user relogged with new name
      socket.on('userchangedname', function(userinfo){
        console.log('a user has changed their name');
        var img = $('#' + userinfo.userid).find('img');
        $('#' + userinfo.userid).first().html(userinfo.newname);
        $('#' + userinfo.userid).append(img);
      });

      //everyone ready!!!!!
      socket.on('all-ready', function(){
        alert("LET'S GOOOOOOOOOO");
      });


    });
    

